<robot xmlns:xacro="http://ros.org/wiki/xacro">


<!--Fill out Link macros-->
<xacro:macro name="arm" params="whichside sign *yaw_limit">

<xacro:my_link name="shoulder_block_${whichside}" mass="0.1" color="Blue">
   <cylinder radius="0.05" length="0.105" />
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 1.5708 0" />
   <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
</xacro:my_link>
<!---->

<xacro:my_link name="shoulder_plate1_${whichside}" mass="0.1" color="Red">
   <box size="0.01 0.1 0.1"/>
   <origin xyz="0.0 0. 0.0" rpy="0 0 0"/>
   <origin xyz="${sign}0.0525 0.0 0.0" rpy="0 0.0 0" />
   <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
</xacro:my_link>

<xacro:my_link name="shoulder_plate2_${whichside}" mass="0.1" color="Red">
   <box size="0.1 0.1 0.01"/>
   <origin xyz="0.0 -0.0 0.0" rpy="0 0 0"/>
   <origin xyz="-0.0 0.0 -0.04" rpy="0 0.0 0" />
   <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
</xacro:my_link>

<xacro:my_link name="upper_arm_${whichside}" mass="2.9" color="Grey">
   <cylinder radius="0.0525" length="0.32"/>
   <origin xyz="0.0 0.0 -0.16" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 -0.16" rpy="0 0 0" />
   <inertia ixx="0.027"  ixy="0"  ixz="0" iyy="0.027" iyz="0" izz="0.004" />
</xacro:my_link>

<xacro:my_link name="elbow_block_${whichside}" mass="0.1" color="Blue">
   <cylinder radius="0.03" length="0.12"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 1.5708 0" />
   <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
</xacro:my_link>

<xacro:my_link name="fore_arm_${whichside}" mass="0.8" color="Grey">
   <cylinder radius="0.0325" length="0.28"/>
   <origin xyz="0.0 0.0 -0.14" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 -0.14" rpy="0 0 0" />
   <inertia ixx="0.0054"  ixy="0"  ixz="0" iyy="0.0054" iyz="0" izz="0.0004" />
</xacro:my_link>

<xacro:my_link name="wrist1_block_${whichside}" mass="0.01" color="Blue">
   <cylinder radius="0.02" length="0.1"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 0.0" rpy="0 1.57 0" />
   <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
</xacro:my_link>

<xacro:my_link name="hand_${whichside}" mass="0.2" color="Red">
   <box size="0.080 0.038 0.085"/>
   <origin xyz="0.0 0.0 -0.0425" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 -0.0425" rpy="0 0 0" />
   <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
</xacro:my_link>

<xacro:my_link name="finger1_${whichside}" mass="0.05" color="Black">
   <box size="0.02 0.022 0.11"/>
   <origin xyz="0.0 0.0 -0.055" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 -0.055" rpy="0 0 0" />
   <inertia ixx="0.00037"  ixy="0"  ixz="0" iyy="0.00052" iyz="0" izz="0.00052" />
</xacro:my_link>

<xacro:my_link name="finger2_${whichside}" mass="0.05" color="Black">
   <box size="0.02 0.022 0.11"/>
   <origin xyz="0.0 0.0 -0.055" rpy="0 0 0"/>
   <origin xyz="0.0 0.0 -0.055" rpy="0 0 0" />
   <inertia ixx="0.00037"  ixy="0"  ixz="0" iyy="0.00052" iyz="0" izz="0.00052" />
</xacro:my_link>

<xacro:my_joint name="shoulder_yaw_joint_${whichside}" type="revolute" parent="torso" child="shoulder_block_${whichside}">
   <origin xyz="${sign}0.1935 0.0 0.06" rpy="0 0 0"/>
   <dynamics damping="6.0" friction="4.87"/>
   <axis xyz="0 1 0"/>
   <xacro:insert_block name="yaw_limit" /> <!--<limit effort="3" velocity="1.0" lower="0" upper="1.5708" />-->
</xacro:my_joint>

<xacro:my_joint name="shoulder_pitch_joint_${whichside}" type="revolute" parent="shoulder_block_${whichside}" child="shoulder_plate1_${whichside}">
   <origin xyz="${sign}0.0 0.0 0.0" rpy="0 0 0"/>
   <dynamics damping="6.0" friction="6.06"/><!--friction increased-->
   <axis xyz="1 0 0"/>
   <limit effort="3" velocity="1.0" lower="-1.5708" upper="1.5708" />
</xacro:my_joint>

<xacro:my_joint name="shoulder_roll_joint_${whichside}" type="revolute" parent="shoulder_plate2_${whichside}" child="upper_arm_${whichside}">
   <origin xyz="${sign}0.0 0.0 0.0" rpy="0 0 0"/>
   <dynamics damping="6.0" friction="2.16"/>
   <axis xyz="0 0 1"/>
   <limit effort="3" velocity="1.0" lower="-1.5708" upper="1.5708"/>
</xacro:my_joint>

<xacro:my_joint name="elbow_pitch_joint_${whichside}" type="revolute" parent="upper_arm_${whichside}" child="elbow_block_${whichside}">
   <origin xyz="${sign}0.0 0.0 -0.32" rpy="0 0 0"/>
   <dynamics damping="2.5" friction="1.18"/>
   <axis xyz="1 0 0"/>
   <limit effort="3" velocity="1.0" lower="0.0" upper="2.5307" />
</xacro:my_joint>

<xacro:my_joint name="elbow_roll_joint_${whichside}" type="revolute" parent="elbow_block_${whichside}" child="fore_arm_${whichside}">
   <origin xyz="${sign}0.0 0.0 -0.0" rpy="0 0 0"/>
   <dynamics damping="2.5" friction="1.35"/>
   <axis xyz="0 0 1"/>
   <limit effort="3" velocity="1.0" lower="-1.8326" upper="1.8326"/>
</xacro:my_joint>

<xacro:my_joint name="wrist_yaw_joint_${whichside}" type="revolute" parent="fore_arm_${whichside}" child="wrist1_block_${whichside}">
   <origin xyz="${sign}0.0 0.0 -0.28" rpy="0 0 0"/>
   <dynamics damping="0.5" friction="0.68"/>
   <axis xyz="0 1 0"/>
   <limit effort="3" velocity="1.0" lower="-0.7854" upper="0.7854"/>
</xacro:my_joint>

<xacro:my_joint name="wrist_pitch_joint_${whichside}" type="revolute" parent="wrist1_block_${whichside}" child="hand_${whichside}">
   <origin xyz="${sign}0.0 0.0 -0.0" rpy="0 0 0"/>
   <dynamics damping="0.5" friction="0.63"/>
   <axis xyz="1 0 0"/>
   <limit effort="3" velocity="1.0" lower="-0.9948" upper="0.9948"/>
</xacro:my_joint>

<xacro:my_joint name="finger1_joint_${whichside}" type="revolute" parent="hand_${whichside}" child="finger1_${whichside}">
   <origin xyz="0.025 0.0 -0.075" rpy="0 0 0"/>
   <dynamics damping="0.5" friction="0.63"/>
   <axis xyz="0 1 0"/>
   <limit effort="3" velocity="1.0" lower="-0.7854" upper="0.7854"/>
</xacro:my_joint>

<xacro:my_joint name="finger2_joint_${whichside}" type="revolute" parent="hand_${whichside}" child="finger2_${whichside}">
   <origin xyz="-0.025 0.0 -0.075" rpy="0 0 0"/>
   <dynamics damping="0.5" friction="0.0"/>
   <axis xyz="0 1 0"/>
   <limit effort="3" velocity="1.0" lower="-0.7854" upper="0.7854"/>
</xacro:my_joint>


</xacro:macro>
 
  <joint name="shoulder3_joint_left" type="fixed">
    <parent link="shoulder_plate1_left"/>`
    <child link="shoulder_plate2_left"/>
    <origin xyz="0 0 0 " rpy="0 0 0"/>
      <safety_controller k_position="100" k_velocity="3" soft_lower_limit="${-2.3213+0.2}" soft_upper_limit="${0.00-0.15}" />
  </joint>

  <joint name="shoulder3_joint_right" type="fixed">
    <parent link="shoulder_plate1_right"/>`
    <child link="shoulder_plate2_right"/>
    <origin xyz="0 0 0 " rpy="0 0 0"/>
      <safety_controller k_position="100" k_velocity="3" soft_lower_limit="${-2.3213+0.2}" soft_upper_limit="${0.00-0.15}" />
  </joint>


</robot>
