<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="amigo"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

<!--get plugins -->
<include filename="$(find amigo_robot_model)/gazebo/gazebo.urdf.xacro" />

<!--get link & joint definitions -->
<include filename="$(find amigo_robot_model)/definitions.xacro" />

<!--========BUILD BODY======-->
<include filename="$(find amigo_robot_model)/body/body.urdf.xacro" />

<!--========BUILD LASER======-->
<include filename="$(find amigo_robot_model)/laser/laser.urdf.xacro" />

<!--========BUILD HEAD======-->
<include filename="$(find amigo_robot_model)/head/head.urdf.xacro" />

<!--========BUILD KINECT======-->
<include filename="$(find amigo_robot_model)/kinect/kinect.urdf.xacro" />

<!--========BUILD BASE KINECT======-->
<!--<include filename="$(find amigo_robot_model)/base_kinect/base_kinect.urdf.xacro" />-->

<!--========BUILD WHEELS======-->

<include filename="$(find amigo_robot_model)/wheels/wheels.urdf.xacro" />

<xacro:wheel side_LR="left" side_FR="front" sign_LR="-" sign_FR="+" wheel_angle="2.3562" />
<xacro:wheel side_LR="right" side_FR="front" sign_LR="+" sign_FR="+" wheel_angle="0.7854" />
<xacro:wheel side_LR="left" side_FR="rear" sign_LR="-" sign_FR="-" wheel_angle="-2.3562" />
<xacro:wheel side_LR="right" side_FR="rear" sign_LR="+" sign_FR="-" wheel_angle="-0.7854" />


<!--========BUILD ARMS======-->

<include filename="$(find amigo_robot_model)/arms_DH/armDH.urdf.xacro" />

<xacro:arm whichside="left" sidesign="-" orientationsign="1.5708" rolloffset="3.1416" />
<xacro:arm whichside="right" sidesign="+" orientationsign="-1.5708" rolloffset="0.0"/>


<!--====BUILD TRANSMISSION ELEMENTS====-->

<include filename="$(find amigo_robot_model)/body/body.transmission.xacro" />
<include filename="$(find amigo_robot_model)/arms_DH/armDH.transmission.xacro" />
<include filename="$(find amigo_robot_model)/wheels/wheels.transmission.xacro" />
<include filename="$(find amigo_robot_model)/head/head.transmission.xacro" />
</robot>



